{{#each releases}}
    {{#if href}}
        ##{{#unless major}}#{{/unless}} [{{title}}]({{href}})
    {{else}}
        ### {{title}}
    {{/if}}

    {{#if tag}}
        > {{niceDate}}
    {{/if}}

    {{#each merges}}
        - {{message}}{{#if href}} [`#{{id}}`]({{href}}){{/if}}
    {{/each}}

    {{#commit-list commits heading='### Commits' exclude='[cC][iI]'}}
        - {{subject}} %%{{email}}%% {{#if href}}[`{{shorthash}}`]({{href}}){{/if}} {{#if niceDate}}*{{niceDate}}*{{/if}}
    {{/commit-list}}

    {{#commit-list commits heading='### CI Commits' message='[cC][iI]'}}
        - {{subject}} %%{{email}}%% {{#if href}}[`{{shorthash}}`]({{href}}){{/if}} {{#if niceDate}}*{{niceDate}}*{{/if}}
    {{/commit-list}}
{{/each}}