body {
    background-color: #dfdee7 !important;
}

.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    animation: spin 2s linear infinite;
    margin-left: 1em;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loading-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#loading-info-message {
    display: flex;
    flex-direction: column;
    font-style: italic;
}

#loading-indicator {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#mermaid-content {
    font-family: verdana, arial, helvetica, sans-serif !important;
    font-size: 11px !important;
    overflow-x: visible !important;
}

#mermaid-content .label {
    font-family: verdana, arial, helvetica, sans-serif !important;
}

.node ellipse:first-of-type,
.node circle:first-of-type,
.node rect:first-of-type,
.node polygon:first-of-type,
.node g path:first-of-type {
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, .25));
}

.primary ellipse,
.primary circle,
.primary rect,
.primary polygon,
.primary g path {
    fill: #9a8dfd !important;
    stroke: #5454A7 !important;
    stroke-width: 1px !important;
}

.secondary ellipse,
.secondary circle,
.secondary rect,
.secondary polygon,
.secondary g path {
    fill: #90fc92 !important;
    stroke: #5eb65b !important;
    stroke-width: 1.5px !important;
}

.tertiary ellipse,
.tertiary circle,
.tertiary rect,
.tertiary polygon,
.tertiary g path {
    fill: #93CCFF !important;
    stroke: #5e90bd !important;
    stroke-width: 1px !important;
}

.looped ellipse,
.looped circle,
.looped rect,
.looped polygon,
.looped g path {
    fill: #ffe222 !important;
    stroke: #bb9a18 !important;
    stroke-width: 1px !important;
}

.unresolved ellipse,
.unresolved circle,
.unresolved rect,
.unresolved polygon,
.unresolved g path {
    fill: #fc9690 !important;
    stroke: #b65f5b !important;
    stroke-width: 1px !important;
}

.flowchart-link,
.edgePaths path {
    stroke: #6b6b6b !important;
    stroke-width: 1px !important;
    fill: none !important;
}

.subgraph g rect {
    fill: #dedede !important;
    stroke-width: 1px !important;
    stroke: #b0b0b0 !important;
}

.subgraph g g g text tspan tspan,
.subgraph * .nodeLabel * {
    font-weight: bold !important;
    font-size: 13px !important;
}

.node .label g text tspan:only-child,
.node .label g text tspan,
.nodeLabel * strong {
    font-weight: bold !important;
    font-size: 13px !important;
    font-family: verdana, arial, helvetica, sans-serif !important;
    color: #313131 !important;
}

.node .label g text tspan .text-inner-tspan:not(:only-child),
.node .label g text tspan tspan,
.nodeLabel * em {
    font-family: monospace !important;
    font-weight: unset !important;
    font-size: 11px !important;
    color: #313131 !important;
}

/*Original Modified*/

#mermaid-content {
    fill: #333;
}

#mermaid-content .error-icon {
    fill: #552222;
}

#mermaid-content .error-text {
    fill: #552222;
    stroke: #552222;
}

#mermaid-content .edge-thickness-normal {
    stroke-width: 1px;
}

#mermaid-content .edge-pattern-solid {
    stroke-dasharray: 0;
}

#mermaid-content .edge-thickness-invisible {
    stroke-width: 0;
    fill: none;
}

#mermaid-content .edge-pattern-dashed {
    stroke-dasharray: 3;
}

#mermaid-content .edge-pattern-dotted {
    stroke-dasharray: 2;
}

#mermaid-content .marker {
    fill: #333333;
    stroke: #333333;
}

#mermaid-content .marker.cross {
    stroke: #333333;
}

#mermaid-content p {
    margin: 0;
}

#mermaid-content .cluster-label text {
    fill: #333;
}

#mermaid-content .cluster-label span {
    color: #333;
}

#mermaid-content .cluster-label span p {
    background-color: transparent;
}

#mermaid-content .label text, #mermaid-content span {
    fill: #333;
    color: #333;
}

#mermaid-content .rough-node .label text, #mermaid-content .node .label text, #mermaid-content .image-shape .label, #mermaid-content .icon-shape .label {
    text-anchor: middle;
}

#mermaid-content .rough-node .label, #mermaid-content .node .label, #mermaid-content .image-shape .label, #mermaid-content .icon-shape .label {
    text-align: center;
}

#mermaid-content .node.clickable {
    cursor: pointer;
}

#mermaid-content .root .anchor path {
    fill: #333333 !important;
    stroke-width: 0;
    stroke: #333333;
}

#mermaid-content .arrowheadPath {
    fill: #333333;
}

#mermaid-content .flowchart-link {
    stroke: #333333;
    fill: none;
}

#mermaid-content .edgeLabel {
    background-color: transparent;
    text-align: center;
}

#mermaid-content .edgeLabel p {
    background-color: transparent;
}

#mermaid-content .edgeLabel rect {
    background-color: transparent;
    fill: transparent;
}

#mermaid-content .labelBkg {
    background-color: transparent;
}

#mermaid-content .cluster text {
    fill: #333;
}

#mermaid-content .cluster span {
    color: #333;
}

#mermaid-content div.mermaidTooltip {
    position: absolute;
    text-align: center;
    max-width: 500px;
    padding: 2px;
    background: hsl(80, 100%, 96.2745098039%);
    border: 1px solid #aaaa33;
    border-radius: 2px;
    pointer-events: none;
    z-index: 100;
}

#mermaid-content .flowchartTitleText {
    text-anchor: middle;
    fill: #333;
}

#mermaid-content rect.text {
    fill: none;
    stroke-width: 0;
}

#mermaid-content .icon-shape, #mermaid-content .image-shape {
    background-color: rgba(232, 232, 232, 0.8);
    text-align: center;
}

#mermaid-content .icon-shape p, #mermaid-content .image-shape p {
    background-color: rgba(232, 232, 232, 0.8);
    padding: 2px;
}

#mermaid-content .icon-shape rect, #mermaid-content .image-shape rect {
    opacity: 0.5;
    background-color: rgba(232, 232, 232, 0.8);
    fill: rgba(232, 232, 232, 0.8);
}
